[user]
	email = mitsunori22@gmail.com
	name = Gyoza

[alias]
	st = status
	br = branch
	sw = switch
	cm = commit
    lg = log --oneline
	push-f = push --force-with-lease --force-if-includes
[ini]
	defaultBranch = main
[init]
	defaultBranch = main
