[user]
	email = mitsunori22@gmail.com
	name = Gyoza

[alias]
	st = status
	br = branch
	sw = switch
	cm = commit
	push-f = push --force-with-lease
[ini]
	defaultBranch = main
[init]
	defaultBranch = main
